/* SocialButtons.css */

.social-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    width:60%;
    margin: 0px auto;
  }
  
  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #f0f0f0;
  }
  
  .icon {
    width: 32px;
    height: 32px;
    /* margin-bottom: 5px; */
    background-size: cover;
  }
  
  .google-icon {
    background-image: url('./google.png'); /* Replace with your Google icon URL */
  }
  
  .facebook-icon {
    background-image: url('./facebook.png'); /* Replace with your Facebook icon URL */
  }
  
  .twitter-icon {
    background-image: url('./twitter.png'); /* Replace with your Twitter icon URL */
  }
  